@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #101010;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}